[core]
    autocrlf = input
    precomposeunicode = true
    trustctime = false
    excludesfile = /Users/denis/.dotfiles/.global-gitignore

[color]
    ui = true

[user]
    name =
    email =
    useConfigOnly = true
    signingkey = A4FE6299

[push]
    default = simple
    followTags = true

[pull]
    rebase = true
    ff = only

[diff]
    colorMoved = default
    tool = Kaleidoscope
    prompt = false

[mergetool "Kaleidoscope"]
    trustExitCode = true
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot

[commit]
    gpgSign = true

[alias]
    stash-all = stash save --include-untracked
    stash-unstaged = stash save --include-untracked --keep-index
    push-all = !git push && git push --tags

[status]
    showUntrackedFiles = all

[transfer]
    fsckobjects = true

[merge]
    ff = only
    tool = Kaleidoscope

[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[gpg]
    program = gpg

[difftool]
    prompt = false

[submodule]
	recurse = true

[init]
	defaultBranch = main

[log]
    abbrevCommit = true

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none